<li [ngClass]="{ completed: todo.completed, editing: editing }">
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      #completed
      attr.aria-label="Toggle {{ todo.title }}"
      [checked]="todo.completed"
      (change)="toggle(completed.checked)"
    />
    <label (dblclick)="edit()">{{ todo.title }}</label>
    <button
      type="button"
      class="destroy"
      (click)="delete()"
      attr.aria-label="Remove {{ todo.title }}"
    ></button>
  </div>
  <input
    #editField
    *ngIf="editing"
    class="edit"
    attr.aria-label="Edit {{ todo.title }}"
    [(ngModel)]="currentTodo.title"
    (keyup.enter)="update(editField.value)"
    (keyup.esc)="cancelEdit()"
    (blur)="update(editField.value)"
  />
</li>
