<header class="header">
  <h1>todos</h1>
  <input
    class="new-todo"
    placeholder="What needs to be done?"
    aria-label="Add a new todo"
    required
    #newTodo
    [(ngModel)]="title"
    (keyup.enter)="createTodo(newTodo.value)"
  />
</header>
