<footer class="footer">
  <span class="todo-count">
    <strong>{{ activeCount }}</strong> {{ activeTodoWord }} left
  </span>
  <ul class="filters">
    <li>
      <a
        href="#/"
        [ngClass]="{ selected: filter === Filter.ALL_TODOS }"
        (click)="changeFilter($event, Filter.ALL_TODOS)"
      >
        All
      </a>
    </li>
    &nbsp;
    <li>
      <a
        href="#/active"
        [ngClass]="{ selected: filter === Filter.ACTIVE_TODOS }"
        (click)="changeFilter($event, Filter.ACTIVE_TODOS)"
      >
        Active
      </a>
    </li>
    &nbsp;
    <li>
      <a
        href="#/completed"
        [ngClass]="{ selected: filter === Filter.COMPLETED_TODOS }"
        (click)="changeFilter($event, Filter.COMPLETED_TODOS)"
      >
        Completed
      </a>
    </li>
  </ul>
  <button
    *ngIf="completedCount > 0"
    type="button"
    class="clear-completed"
    (click)="clearCompleted()"
  >
    Clear completed
  </button>
</footer>
