<section class="main">
  <input
    id="toggle-all"
    class="toggle-all"
    type="checkbox"
    aria-label="Toggle all"
    #checkAll
    [checked]="activeCount === 0"
    (change)="toggleAll(checkAll.checked)"
  />
  <label for="toggle-all" aria-label="Toggle all"></label>
  <ul class="todo-list">
    <todo-item
      *ngFor="let todo of filteredTodos$ | async"
      [todo]="todo"
    ></todo-item>
  </ul>
</section>
